/vendor/
composer.lock

.env
.env.*
!.env.example

/storage/cache/*
!/storage/cache/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/framework/*
!/storage/framework/.gitkeep
/storage/app/media/*
!/storage/app/media/.gitkeep

/public/uploads/*
!/public/uploads/.gitkeep

/node_modules/

/.phpunit.cache/
.phpunit.result.cache

.php-cs-fixer.cache
/storage/phpstan/

.DS_Store
Thumbs.db
*.log

.vscode/
.idea/
